<div class="chatbot-container" id="chatbotContainer">
			<h1 class="heading">Chatbot</h1>
			<div class="chat-container">
				<div id="chatlog" class="chatlog">
				</div>
				<div class="input-container">
					<input
						type="text"
						id="user-input"
						placeholder="Type your message..."
					/>
					<button id="send-btn">Send</button>
				</div>
		  </div>
</div>
